	<div class="container main_menu">
       <div class="row">
		  <div class="col-md-12 main_menu_header" id="main_menu_header" > 
   		       -=THIS IS A TEST MENU=-
	      </div>
	   </div>
	   
	   <div class="row" > 
		   <div class="col-md-6" > 
	   		     THIS IS A TEST MENU
		    </div>
	        <div class="col-md-6" > 
	   		     THIS IS A TEST MENU 2
	        </div>
		</div>
    </div>