<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"aria-expanded="false"> User Menu <span class="caret"></span></a>
<ul class="dropdown-menu">
    <li><a href="#" id="list_spirals"  >List Spirals</a></li>
    <li><a href="#" id="save_spirals" >Save Spiral</a></li>
</ul>